:root {
	--iris: #4d5ae5;
	--ocean: #404bbf;
	--navy-blue: #2e2f42;
	--green: #31d0aa;
	--slate: #434455;
	--light-slate: #8e8f99;
	--cornflower: #e7e9fc;
	--cloud: #f4f4fd;
	--navy-blue-modal: rgba(46, 47, 66, 0.4);
	--grey: rgba(46, 47, 66, 0.7);
	--white: #fff;
	--dairy: #fcfcfc;
}

:root {
 --font-family: "Roboto", sans-serif;
 --second-family: "Raleway", sans-serif;
  }
body {
    font-family: "Roboto", sans-serif;
    color: var(--slate);
    background-color: #FFFFFF;
}
h1 {
    font-weight: 700;
    font-size: 56px;
    line-height: 107%;
    letter-spacing: 0.02em;
    text-align: center;
    color: var(--white);
}

.logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    margin-right: 76px;
}

.span-logo {
    color: #2e2f42;
}

a {
    text-decoration: none;
}

.link-header {
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    color: var(--navy-blue);
    text-decoration: none;
}

.link-header:hover {
    color: #404bbf;
}

.link-header:focus {
    color: #404bbf;
}

.address {
    display: flex;
    flex-direction: row;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    color: var(--slate);
    text-decoration: none;
}

.address:hover {
    color: #404bbf;
}

.address:focus{
    color: #404bbf;
}

.first-section {
    background: var(--navy-blue);
}
    
.button {
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.04em;
    color: var(--white);
    cursor: pointer;
    background-color: #4D5AE5;

}

.button:hover {
    background-color: #404bbf;
}

.button:focus {
    background-color: #404bbf;
}

h3 {
    font-weight: 500;
    font-size: 20px;
    line-height: 120%;
    letter-spacing: 0.02em;
    color: var(--navy-blue);
}

p {
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    color: var(--slate);
}

ul {
    list-style: none;
}

h2 {
    font-weight: 700;
    font-size: 36px;
    line-height: 111%;
    letter-spacing: 0.02em;
    text-align: center;
    color: var(--navy-blue);
}

.header-container {
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid #e7e9fc;
}

.header-nav-container {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.header-nav-container-item {
    display: flex;
    flex-direction: row;
    gap: 40px;
}

.header-nav-container-address{
    display: flex;
    flex-direction: row;
    gap: 40px;
}
}

.team {
    background-color: #f4f4fd;
}

.team-title {
    text-transform: capitalize;
}

.team-members {
    background-color: #FFFFFF;
}

.feature-text {
    font-size: 16px;
}

.portfolio-title{
    text-transform: capitalize;
}

.span-footer {
    color: #f4f4fd;
}

.footer {
    background-color: #2e2f42;
}

.footer-text {
    color: #f4f4fd;
}

.container {
    width: 1158px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15p;
}

img {
	display: block;
    max-width: 100%;
}
 